@media(max-width: 800px){
    .col34{
        column-count: 3;
    }
}

@media(max-width: 600px){
    .col34{
        column-count: 2 !important;
    }
}

@media(max-width: 400px){
    .col34{
        column-count: 1 !important;
    }
}
.col34{
    column-count:3;
}