

  .img{
    width:100%;
    padding: 1em;
    margin:10px
  }
  

  
  @media(max-width: 800px){
    .border{
        border-radius: 40px;
        box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.30)
    }
}

@media(max-width: 600px){
    .border{
        border-radius: 10px !important;
        box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.30) !important;
    }
}

@media(max-width: 400px){
    .border{
        border-radius: 5px !important;
        box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.30) !important;
    }
}
.border{
    border-radius:40px;
    box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.30) !important;
}